body {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:  0 auto;
  position: relative;
  width: 960px;
}
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
form {
  position: absolute;
  right: 10px;
  top: 10px;
}
.group-label {
  text-anchor: end;
}